*{
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4em;
  color: #ff4500; /* Naranja */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  letter-spacing: 4px; /* Espaciado entre letras */
  text-shadow: 2px 2px 4px #000000; /* Sombra de texto */
  margin-top: 20px;
  text-align: center;
}

h1:hover {
  transform: scale(1.1); /* Escalar ligeramente al pasar el cursor */
}

body{
  background-color: #37384b;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: .68px;
}

.card-container{
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.card{
  width: 200px;
  height: 300px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: rgba(76, 96, 133, .15) 0 0 no-repeat padding-box;
  border-radius: 5px;
  padding: 15px 10px;
  position: relative;
}

.img-product{
  width: 60px;
  height: 60px;
  object-fit: cover;
  position: absolute; 
  margin-top: 30px;
  left: 0;
  margin-left: 10px;
  
}

.stock-button{
  background-color: rgba(57, 226, 157, .05);
  border-radius: 2px;
  color: #39e29d;
  font-size: 10px;
  letter-spacing: .51px;
  padding: 10px;
  font-weight: 300;
  padding-bottom: 0.25rem !important;
  padding-top: 0.25rem !important;
}

.on-sale{
  font-size: 10px;
  letter-spacing: .52px;
  font-weight: bold;
  padding: 10px;
}

.point{
  background-color: #39e29d;
  border-radius: 2.5px;
  display: inline-block;
  height: 5px;
  width: 5px;
  position: absolute;
  margin-top: -18px;
}

.product-name{
  font-size: 12px;
  font-weight: 550;
  position: absolute;
  margin-top: 85px;
}

.price{
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  margin-top: 120px;
  left: 0;
  margin-left: 10px;
}

.old-price{
  text-decoration: line-through;
  -webkit-text-decoration: line-through;
  text-decoration-color: #fd4a4a; 
  text-decoration-thickness: 1px;
  color: hsla(0, 0%, 100%, .75); 
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  position: absolute;
  margin-top: 120px;
  left: 0;
  margin-left: 65px;
}

.description{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 12px;
  line-height: 16px;
  opacity: .75;
  overflow: hidden;
  text-overflow: ellipsis;
  color: hsla(0, 0%, 100%, .75) !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
  position: absolute;
  margin-top: 120px;
  left: 0;
  margin-left: 8px;
  padding: 2px;
}


a {
  text-decoration: none; /* Elimina la subrayado predeterminado */
  color: inherit; /* Hereda el color del texto de su contenedor */
}


.btn-details{
  border-radius: 4px;
  color: hsla(0, 0%, 100%, .75) !important;
  will-change: transform, opacity;
  background-color:#4C4D66;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  padding: 9px;
  font-weight: 500;
  opacity: .95;
  position: absolute;
  margin-top: 180px;
  left: 0;
  margin-left: 28px;
}

.btn-add{
  border-radius: 4px;
  color: #fff;
  background-color:#6570ef;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  padding: 9px;
  font-weight: 550;
  position: absolute;
  margin-top: 180px;
  left: 0;
  margin-left: 108px;
  padding-right: 33px;
}

.buy-card{
  position: absolute;
  bottom: 0;
  margin-left: 140px;
  margin-bottom: 34px;
}

.badge{
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  margin-top: 95px;
  margin-right: 15px;
}

::after, 
::before{
  box-sizing: border-box;
}

.quantity{
  width: 70px;
  height: 30px;
  background-color: rgba(76, 96, 133, .2);
  padding: 5px;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none; 
  width: 10px;
  height: 10px;
  font-size: 12px;
  background: 0 0;
  color: #fff;
  cursor: pointer;
}

.qtyInput{
  width: 40px;
  border: none;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  text-align: center;
  color: #fff;
  background: 0 0;
  flex: 1;
  font-weight: 700;
}


